{
  "PinMeToClient": {
    "AppId": "insert app id",
    "AppSecret": "insert app secret",
    "AccountId": "insert account id"
  },

  "UnitTestOptions": {
    "IsGoogleCustomNameEnabled": true,
    "IsFacebookCustomNameEnabled": true
  }
}